doctype html
html
  head
    link(rel='icon' type='image/png' href='/asserts/logo.png')
    title github login

  body
    a(href=url) github
    script(src='https://unpkg.com/axios@0.18.0/dist/axios.min.js')
    script(src='/asserts/index.js')
